<mat-card>
  <mat-card-header>
    <mat-card-title>{{global.ComponentTitle}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="80" class="example-full-width">
              <input [formControl]="txtSearch" autofocus matInput placeholder="Búsqueda: (Ruc o Nombre)" >
            </mat-form-field>  
            <button [disabled]="procesando" fxFlex="20" style="padding-left:10px" mat-button (click)="buscarSocioNegocio()">Buscar</button>
            <div *ngIf="procesando">
              <mat-progress-spinner [mode]="'indeterminate'" [diameter]="30"></mat-progress-spinner>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td *ngIf="seEncontraroSN">
          <mat-radio-group class="example-radio-group">
            <mat-radio-button class="example-radio-button" (change)="seleccionarSN($event)" *ngFor="let sn of filterSearchSocioNegocio | async" [value]="sn.Ruc">
              {{sn.Ruc}}: {{sn.Nombre}}
            </mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
    </table>
      <mat-tab-group *ngIf="seSeleccionoSocioNegocio">
        <!-- Info web service promotick -->
        <mat-tab label="Información del Participante">
          <app-estado-cuenta-ptk [participante]="participante"></app-estado-cuenta-ptk>
        </mat-tab>
        <!-- documentos enviados -->
        <mat-tab label="Documentos Enviados">
          <app-documentos-enviados></app-documentos-enviados>
        </mat-tab>
        <!-- Gestion participante -->
        <!-- <mat-tab label="Gestionar Datos Participante"> 
          <cdk-virtual-scroll-viewport class="gestionParticipantesScroll" itemSize="1">
            <form [formGroup]="form" fxLayout="column" fxLayoutAlign="end none" >
              <mat-label>Estado</mat-label>
              <mat-slide-toggle formControlName="Activo">{{this.form.get('Activo').value?'Activo':'Inactivo'}}</mat-slide-toggle>
              <mat-form-field>
                <mat-label>TipoDocumento</mat-label>
                <mat-select formControlName='tipoDocumento'>
                <mat-option *ngFor="let item of TiposDocumento" [value]="item.Id">
                  {{item.Nombre}}
                </mat-option>
                </mat-select>
                <mat-error>
                  Debe seleccionar el tipo de documento
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Nro. Documento" formControlName='nroDocumento'>
                <mat-error>
                  Debe ingresar el nro. de documento
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Clave de acceso sistema Promotick" formControlName='clave'>
                <mat-error>
                  Debe ingresar la clave
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName='idCatalogo'>
                  <mat-option *ngFor="let item of categorias" [value]="item.Id">
                    {{item.Nombre}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Debe seleccionar la categoría del cliente
                </mat-error>
              </mat-form-field>
              <mat-label>Tipo</mat-label>
              <mat-slide-toggle formControlName="Elite">{{this.form.get('Elite').value?'Elite':'Normal'}}</mat-slide-toggle>
              <mat-form-field>
                <input matInput placeholder="Nombres" formControlName='nombres'>
                <mat-error>
                  Debe ingresar el Nombre del cliente
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Apellidos" formControlName='apellidos'>
                <mat-error>
                  Debe ingresar el Apellido del cliente
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Género" formControlName='tipoGenero'>
                  <mat-option *ngFor="let genero of generos" [value]="genero.Id">
                    {{genero.Nombre}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Debe seleccionar un género
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" formControlName='email'>
                <mat-error>
                  El email es incorrecto
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="fechaNacimiento" placeholder="Fecha de Nacimiento" formControlName="FechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                <mat-datepicker #fechaNacimiento></mat-datepicker>
                <mat-error>Debe registrar la fecha de Nacimiento</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Cupo Anual" formControlName='metaAnual'>
                <mat-error>
                  Debe ingresar el Cupo Anual del cliente
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Celular" formControlName='celular'>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Teléfono Convencional" formControlName='telefono'>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Vendedor" formControlName='vendedor'>
                  <mat-option *ngFor="let v of vendedores" [value]="v.Cod">
                    {{v.Nombre}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Debe ingresar el vendedor
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Comentario" formControlName='Comentario' rows="3"></textarea>
              </mat-form-field>
              <button fxFlexAlign="center" mat-button disabled="true" (click)="guardar()">Guardar</button>  
            </form>    
          </cdk-virtual-scroll-viewport>
        </mat-tab> -->
      </mat-tab-group>
      </mat-card-content>
</mat-card>