
<div id="hide-section">
    <button  mat-button (click)="regresar()">Regresar</button>
    &nbsp;&nbsp;&nbsp;
    <button  mat-button (click)="print()">Imprimir</button>
</div>
<!-- la clase "printthis" está definida en el styles.scss en la raiz del proyecto -->
<div class="printthis" >
    <table style="background-color: #ffffff;" align="center">
        <!--tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <img width="130px" src="../../../assets/images/logo.png">
                        </td>
                        <td class="titulo">
                            HOJA DE RUTA
                        </td>
                        <td class="secuencial">{{hojaRuta.nroHojaRuta}}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <b>Fecha:</b> {{hojaRuta.fecha}}
                            <span style="padding-left: 15px; padding-right: 40px;"><b>Lugar:</b> {{hojaRuta.lugar}}</span>
                            <b>Transportista:</b> {{hojaRuta.transportista}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr-->
        <tr>
            <td [style.padding-left.px]="marginLeft" [style.padding-top.px]="marginTop">
                <table>
                    <!--tr>
                        <th>Nombre del Cliente</th>
                        <th>Número de Factura</th>
                        <th>Núm. Bultos / Cajas</th>
                        <th>Transporte</th>
                        <th>Ciudad</th>
                        <th>Observaciones</th>
                        <th>Firma / Sello</th>
                        <th>Guía</th>
                    </tr-->
                    <tr *ngFor="let entrega of hojaRuta.entregasSeleccionadas">
                        <td class="entrega" width="185px">{{entrega.Cliente}}</td>
                        <td class="entrega" width="111px">{{entrega.NumFactura}}</td>
                        <td class="entrega" align="center" width="105px">{{entrega.CantBultos}}</td>
                        <td class="entrega" width="127px">{{entrega.Transporte}}</td>
                        <td class="entrega" width="109px">{{entrega.Ciudad}}</td>
                        <td class="entrega" width="170px"></td>
                        <td class="entrega" width="132px"></td>
                        <td class="entrega" width="130px"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

