<mat-card>
    <mat-card-header>
      <mat-card-title>Generar QR de Ubicaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div [formGroup]="form" fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>Nivel</mat-label>
                <mat-select formControlName="nivel">
                    <mat-option *ngFor="let n of niveles" [value]="n">
                    {{n.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Percha</mat-label>
                <mat-select formControlName="percha">
                    <mat-option *ngFor="let p of perchas" [value]="p">
                    {{p.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pallet desde</mat-label>
                <mat-select formControlName="palletDesde">
                    <mat-option *ngFor="let p of pallets" [value]="p">
                    {{p.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pallet hasta</mat-label>
                <mat-select formControlName="palletHasta">
                    <mat-option *ngFor="let p of pallets" [value]="p">
                    {{p.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center">
            <button mat-button (click)="generarUbicaciones()">Generar Ubicaciones</button>
            <span style="padding-left: 20px;"> </span>
            <button *ngIf="this.ubicaciones.length>0" mat-button printSectionId="codigosQR" ngxPrint>Imprimir</button>
            <!-- <button mat-button printSectionId="codigosQR2" ngxPrint>Imprimir</button> -->
            
        </div>
        <div id="codigosQR">
            <div  fxLayout="row wrap" fxLayoutGap="25px" style="width:595; margin-right:-25px;" *ngIf="this.ubicaciones.length>0">
                <div *ngFor="let ubicacion of this.ubicaciones">
                    <qrcode [qrdata]="ubicacion" [elementType]="svg" [margin]="0" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                    <p style="text-align: center;">{{ubicacion}}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

