<mat-card>
    <mat-card-header>
      <mat-card-title>Generar QR de Ubicaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span style="padding-right: 10px;"><b>Generar ubicaciones de manera:</b></span>
        <mat-radio-group [(ngModel)]="tipoUbicacion" (change)="encerarQRs()">
            <mat-radio-button value="masiva">Masiva </mat-radio-button>
            <mat-radio-button value="manual" style="padding-left: 10px;">Manual</mat-radio-button>
        </mat-radio-group>
        <div fxLayout="column">
            <mat-form-field  appearance="fill" >
                <mat-label>Tamaño QR</mat-label>
                <input [(ngModel)]="qrWidth" matInput type="number">
            </mat-form-field>
        </div>
        <div *ngIf="tipoUbicacion=='manual'" fxLayout="column">
            <mat-form-field  appearance="fill" >
                <mat-label>Ubicación</mat-label>
                <input [(ngModel)]="ubicacionManual" matInput placeholder="Ej. P1-A-S6-UB">
            </mat-form-field>
        </div>
        <div *ngIf="tipoUbicacion=='masiva'" [formGroup]="form" fxLayout="column">
            <mat-form-field appearance="fill">
                <mat-label>Percha</mat-label>
                <mat-select formControlName="percha">
                    <mat-option *ngFor="let p of perchas" [value]="p">
                    {{p.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nivel</mat-label>
                <mat-select formControlName="nivel">
                    <mat-option *ngFor="let n of niveles" [value]="n">
                    {{n.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pallet desde</mat-label>
                <mat-select formControlName="palletDesde">
                    <mat-option *ngFor="let p of pallets" [value]="p">
                    {{p.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pallet hasta</mat-label>
                <mat-select formControlName="palletHasta">
                    <mat-option *ngFor="let p of pallets" [value]="p">
                    {{p.codigo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center" style="padding-bottom: 20px;">
            <button mat-button (click)="generarUbicaciones()">Generar Ubicaciones</button>
            <span style="padding-left: 20px;"> </span>
            <button *ngIf="this.ubicaciones.length>0" mat-button printSectionId="codigosQR" ngxPrint>Imprimir</button>
            <!-- <button mat-button printSectionId="codigosQR2" ngxPrint>Imprimir</button> -->
            
        </div>
        <div id="codigosQR">
            <div  fxLayout="row wrap" fxLayoutGap="25px" style="width:595; margin-right:-25px;" *ngIf="this.ubicaciones.length>0">
                <div *ngFor="let u of this.ubicaciones">
                    <qrcode [qrdata]="u.urlConsulta" [elementType]="svg" [margin]="0" [width]="qrWidth" [errorCorrectionLevel]="'M'"></qrcode>
                    <p style="text-align: center;">{{u.ubicacion}}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

