<table border="1" align="center">
  <tr *ngIf="this.detalleLote">
    <td style="background-color: #fff">
      <button mat-button (click)="regresar();" *ngIf="mostrarRegresar">
        <mat-icon matSuffix>arrow_back</mat-icon> Regresar
      </button>
      <h2 [class]="this.estadoLote">{{this.estadoLote}}</h2>
      <h6 style="text-align: center;">{{this.detalleLote.CodPoe}}</h6>
      <h4 style="text-align: center;">{{this.detalleLote.Articulo}}</h4>
      <table class="infoLote">
        <tr>
          <td><b>Cod Articulo:</b></td>
          <td width="80%">{{this.detalleLote.CodArticulo}}</td>
        </tr>
        <tr>
          <td><b>Detalle Lote:</b></td>
          <td> {{lote}}</td>
        </tr>
        <tr>
          <td><b>Lote Proveedor:</b></td>
          <td>{{this.detalleLote.LoteProveedor}}</td>
        </tr>
        <tr>
          <td><b>Proveedor:</b></td>
          <td> {{this.detalleLote.Proveedor}}</td>
        </tr>
        <tr>
          <td><b>Fabricante:</b></td>
          <td>{{this.detalleLote.Fabricante}}</td>
        </tr>
        <tr>
          <td style="padding-right: 10px;"><b>Condiciones de Almacenamiento:</b></td>
          <td> {{this.detalleLote.CondicionAlmacenamiento}}</td>
        </tr>
        <tr>
          <td><b>Fecha Fabricación:</b></td>
          <td>{{this.detalleLote.FechaFabricacion}}</td>
        </tr>
        <tr>
          <td><b>Fecha Vencimiento:</b></td>
          <td> {{this.detalleLote.FechaVencimiento}}</td>
        </tr>
        <tr>
          <td><b>Fecha Retest:</b></td>
          <td>{{this.detalleLote.FechaRetest}}</td>
        </tr>
        <tr>
          <td><b>Bultos:</b></td>
          <td> {{this.detalleLote.Bultos}}</td>
        </tr>
        <tr>
          <td><b>Observaciones:</b></td>
          <td> {{this.detalleLote.Observaciones}}</td>
        </tr>
      </table>
      <br>
      <table width="100%" *ngIf="this.detalleLote.UbicacionesCantidad.length>0">
        <thead>
          <th>CodBodega</th>
          <th>Ubicación</th>
          <th>Cantidad ({{this.detalleLote.UnidadMedida}})</th>
        </thead>
        <tbody class="infoLote">
          <tr *ngFor="let uc of this.detalleLote.UbicacionesCantidad">
            <td>{{uc.CodBodega}}</td>
            <td>{{uc.Ubicacion}}</td>
            <td *ngIf="!uc.Ubicacion">{{uc.CantBodega}}</td>
            <td *ngIf="uc.Ubicacion">{{uc.CantUbicacion}}</td>
            
            
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
 </table>
