table {
    width: 100%;
  }
th{
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(9, 21, 43);
    font-size: 9px;
    font-weight: bold;
    color: #fff;
}
td{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8px;
}
.element {
    margin:0 2.5%;
    width:20%;
    }
mat-card{
    background-color: rgba($color: #fff, $alpha: 0.9)
}