<table border="1" align="center">
  <tr *ngIf="this.detalleLote">
    <td style="background-color: #fff">
      <button mat-button (click)="regresar();" *ngIf="mostrarRegresar">
        <mat-icon matSuffix>arrow_back</mat-icon> Regresar
      </button>
      <h2 [class]="this.estadoLote">{{this.estadoLote}}</h2>
      <h6 style="text-align: center;">{{esProductoTerminado?this.detalleLote.CodPoePT:this.detalleLote.CodPoe}}</h6>
      <h4 style="text-align: center;">{{this.detalleLote.Articulo}}</h4>
      <table class="infoLote">
        <tr>
          <td><b>Cod Articulo:</b></td>
          <td width="80%">{{this.detalleLote.CodArticulo}}</td>
        </tr>
        <tr>
          <td><b>Lote:</b></td>
          <td> {{lote}}</td>
        </tr>
        <tr *ngIf="!esProductoTerminado">
          <td><b>Lote Proveedor:</b></td>
          <td>{{this.detalleLote.LoteProveedor}}</td>
        </tr>
        <tr *ngIf="!esProductoTerminado">
          <td><b>Proveedor:</b></td>
          <td> {{this.detalleLote.Proveedor}}</td>
        </tr>
        <tr *ngIf="!esProductoTerminado">
          <td><b>Fabricante:</b></td>
          <td>{{this.detalleLote.Fabricante}}</td>
        </tr>
        <tr *ngIf="esProductoTerminado">
          <td><b>Titular del Producto:</b></td>
          <td>{{this.detalleLote.Cliente}}</td>
        </tr>
        <tr>
          <td style="padding-right: 10px;"><b>Condiciones de Almacenamiento:</b></td>
          <td> {{esProductoTerminado?this.detalleLote.CondicionAlmacenamientoPT:this.detalleLote.CondicionAlmacenamiento}}</td>
        </tr>
        <tr *ngIf="esProductoTerminado">
          <td style="padding-right: 10px;"><b>Empacado Por:</b></td>
          <td> {{this.detalleLote.ResponsableEmpaque}}</td>
        </tr>
        <tr *ngIf="!esProductoTerminado">
          <td><b>Fecha Ingreso:</b></td>
          <td>{{this.detalleLote.FechaIngreso}}</td>
        </tr>
        <tr>
          <td><b>Fecha Fab.:</b></td>
          <td>{{this.detalleLote.FechaFabricacion}}</td>
        </tr>
        <tr>
          <td><b>Fecha Ven.:</b></td>
          <td> {{this.detalleLote.FechaVencimiento}}</td>
        </tr>
        <tr *ngIf="!esProductoTerminado">
          <td><b>Fecha Retest:</b></td>
          <td>{{this.detalleLote.FechaRetest}}</td>
        </tr>
        <tr *ngIf="esProductoTerminado">
          <td><b>Cantidad Por Caja:</b></td>
          <td>{{this.detalleLote.CantidadPT}} {{this.detalleLote.UnidadMedida}}</td>
        </tr>
        <tr>
          <td><b>Bultos:</b></td>
          <!-- Internamente la api discrimina los bultos de MP y los bultos de PT -->
          <td> {{this.detalleLote.Bultos}}</td>
        </tr>
        <tr>
          <td style="vertical-align: top;"><b>Observaciones:</b></td>
          <td> {{this.detalleLote.Observaciones}}</td>
        </tr>
      </table>
      <br>
      <table width="100%" *ngIf="this.detalleLote.UbicacionesCantidad && this.detalleLote.UbicacionesCantidad.length>0">
        <thead>
          <th>CodBodega</th>
          <th>Ubicación</th>
          <th>Cantidad ({{this.detalleLote.UnidadMedida}})</th>
        </thead>
        <tbody class="infoLote">
          <tr *ngFor="let uc of this.detalleLote.UbicacionesCantidad">
            <td>{{uc.CodBodega}}</td>
            <td>{{uc.Ubicacion}}</td>
            <td *ngIf="!uc.Ubicacion">{{uc.CantBodega}}</td>
            <td *ngIf="uc.Ubicacion">{{uc.CantUbicacion}}</td>
            
            
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
 </table>
