<!-- tyle="height: 90vh;" -->
<!-- *ngIf="currentUser" -->
<mat-toolbar color="primary" *ngIf="currentUser">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="padding-right:10px">Menu</span>
      <span class="menu-spacer"></span>
      <div fxShow="true"  fxHide.lt-md>
        <div>
            <a routerLink="participantesPuntos" mat-button>Participantes Puntos</a>
            <a routerLink="updateMontoCuentas" mat-button>Procesar Montos Cuentas</a>
            <a routerLink="directorio" mat-button>Directorio</a>
            <a (click)="salir()" mat-button>Salir</a>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- fxFlexFill -->
<mat-sidenav-container [style.padding-top]="getPadding()">
  <mat-sidenav #sidenav [style.padding-top]="getPadding()">
    <mat-nav-list>
        <a mat-list-item routerLink="participantesPuntos">Participantes Puntos</a>
        <a mat-list-item routerLink="updateMontoCuentas">Procesar Montos Cuentas</a>
        <a mat-list-item routerLink="directorio">Directorio</a>
        <a mat-list-item (click)="salir();sidenav.toggle()">Salir</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



