<!-- tyle="height: 90vh;" -->
<!-- *ngIf="currentUser" -->
<!-- menu pc -->
<mat-toolbar *ngIf="currentUser">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="padding-right:10px" fxHide.gt-sm>Menu</span>
      <div style="font-size: 12px;" fxHide.gt-sm>Bienvenido, {{nombreUsuario}}</div>
      <span class="menu-spacer"></span>
      <table fxShow="true"  fxHide.lt-md width="100%">
        <tr>
          <td>
            <button mat-button  routerLink="directorio" >
              <mat-icon>menu_book</mat-icon> Directorio
            </button>
          </td>
          <!--td *ngIf="esAdministrador">
            <button mat-button [matMenuTriggerFor]="menu0">Administración</button>
              <mat-menu #menu0="matMenu">
                <button mat-menu-item  routerLink="user" >
                  <mat-icon>person</mat-icon> Gestionar Usuarios App Movil
                </button>
              </mat-menu>
          </td-->
          <td *ngIf="currentUser.ModulosAcceso.Ventas">
            <button mat-button [matMenuTriggerFor]="menu">Ventas</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  routerLink="updateNumFacturaExportacion" >
                  <mat-icon>numbers</mat-icon> Actualizar Num Factura Exp
                </button>
                <button mat-menu-item routerLink="entregasUrbano" >
                  <mat-icon>local_shipping</mat-icon> Entregas Urbano
                 </button>
                 <button mat-menu-item routerLink="hojaRuta" >
                  <mat-icon>local_shipping</mat-icon> Hoja de Ruta
                 </button>
                 <button mat-menu-item  routerLink="participantesPuntos" >
                  <mat-icon>group</mat-icon> Participantes Puntos
                 </button>
                 <button mat-menu-item  routerLink="facturasHistoricas" >
                  <mat-icon>assessment</mat-icon>Facturas historicas por cliente
                </button>
              </mat-menu>
          </td>
          <td *ngIf="currentUser.ModulosAcceso.Dashboards">
            <button mat-button [matMenuTriggerFor]="menu">Dashboards</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  routerLink="confDash" >
                  <mat-icon>assessment</mat-icon> Configurar Dashboards
                </button>
              </mat-menu>
          </td>
          <td *ngIf="currentUser.ModulosAcceso.Bodega">
            <button mat-button [matMenuTriggerFor]="menu2">Bodega</button>
              <mat-menu #menu2="matMenu">
                <button mat-menu-item  routerLink="generarQR" >
                  <mat-icon>qr_code</mat-icon> Generar QR
                </button>
              </mat-menu>
          </td>
          <td *ngIf="currentUser.ModulosAcceso.FarmacoVigilancia">
            <button mat-button  routerLink="reacciones" >
             <mat-icon>auto_awesome_motion</mat-icon>Farmacovigilancia
            </button>
          </td>
          <td>
            <button mat-button (click)="salir()" >
              <mat-icon>exit_to_app</mat-icon> Salir
            </button>
          </td>
          <td class="bienvenido">Bienvenido, {{nombreUsuario}}</td>
        </tr>
      </table>
  </mat-toolbar-row>
</mat-toolbar>
<!-- menu movil -->
<mat-sidenav-container [style.padding-top]="getPadding()">
  <mat-sidenav #sidenav [style.padding-top]="getPadding()">
    <mat-nav-list>
      <div>
        <a mat-list-item routerLink="directorio">Directorio</a>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">Ventas</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  routerLink="updateNumFacturaExportacion" >
            <mat-icon>numbers</mat-icon> Actualizar Num Factura Exp
          </button>
          <button mat-menu-item routerLink="entregasUrbano" >
            <mat-icon>local_shipping</mat-icon> Entregas Urbano
            </button>
            <button mat-menu-item routerLink="hojaRuta" >
            <mat-icon>local_shipping</mat-icon> Hoja de Ruta
            </button>
            <button mat-menu-item  routerLink="participantesPuntos" >
            <mat-icon>group</mat-icon> Participantes Puntos
            </button>
            <button mat-menu-item  routerLink="facturasHistoricas" >
            <mat-icon>assessment</mat-icon>Facturas historicas por cliente
          </button>
        </mat-menu>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu2">Bodega</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item  routerLink="generarQR" >
            <mat-icon>qr_code</mat-icon> Generar QR
          </button>
        </mat-menu>
      </div>
      <div>
        <button mat-button  routerLink="reacciones" >
          <mat-icon>auto_awesome_motion</mat-icon>Farmacovigilancia
         </button>
      </div>
      <div>
        <a mat-list-item (click)="salir();sidenav.toggle()">Salir</a>
      </div>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding-top: 10px;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



