<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Contenido de Ubicacion {{ubicacion}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div></div>
      <label id="example-radio-group-label">Seleccione la bodega de la que quiere ver el contenido:</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        [(ngModel)]="codBodegaSeleccionada"
         class="example-radio-group"
          (change)="seleccionarBodega($event.value)">
        <mat-radio-button class="example-radio-button" *ngFor="let bodega of codBodegas" [value]="bodega" >{{bodega}}</mat-radio-button>
      </mat-radio-group>
      <table *ngIf="this.contenidoFiltrado">
        <thead>
          <tr>
            <th>Lote</th>
            <th>Bodega</th>
            <th>CodArticulo</th>
            <th>Articulo</th>
            <th>Cantidad</th>
          </tr>
        </thead>  
        <tbody>
          <tr *ngFor="let item of this.contenidoFiltrado">
            <td>
              <span class="link" (click)="verDetalleLote(item.Lote)">{{item.Lote}}</span>
            </td>
            <td>{{item.CodBodega}}</td>
            <td>{{item.CodArticulo}}</td>
            <td>{{item.Articulo}}</td>
            <td>{{item.Cantidad}} {{item.UnidadMedida}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
</mat-card>
  
  