<mat-card>
    <mat-card-header>
      <mat-card-title>{{global.ComponentTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center none">
        <table>
          <tr>
            <td width="100%">
              <mat-form-field style="width: 100%;">
                <input matInput placeholder="Nombre de Usuario" [(ngModel)]="user.userName" required>
              </mat-form-field>
            </td>
            <td>
              <button [disabled]="procesando" mat-button  (click)="getUser()">Consultar Usuario</button>
              <div *ngIf="procesando">
                <mat-progress-spinner [mode]="'indeterminate'" [diameter]="30"></mat-progress-spinner>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <table *ngIf="habilitarRegistro">
        <tr>
          <td><b>Nombre: </b>{{user.userDisplayName}}</td>  
        </tr>
        <tr>
          <td><b>Correo: </b>{{user.userMail}}</td>  
        </tr>
      </table>
      <button mat-button [disabled]="!habilitarRegistro" (click)="createUser()">Registrar</button>
    </mat-card-content>
  </mat-card>
